aiohttp==3.8.1
aiosignal==1.2.0
alchemy-sdk==0.1.1
anyio==4.3.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.1
attrdict==2.0.1
attrs==21.2.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.9.3
bip32utils==0.3.post4
bitarray==2.7.6
black==22.1.0
bleach==4.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
configparser==5.2.0
construct==2.10.68
construct-typing==0.5.6
crayons==0.4.0
creds==1.0.15
cycler==0.11.0
cytoolz==0.11.2
dataclass-wizard==0.22.2
debugpy==1.5.1
decompyle3==3.8.0
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.6
ecdsa==0.18.0
entrypoints==0.3
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
ethtoken==0.0.1a4
exceptiongroup==1.1.0
executing==0.8.2
filelock==3.12.0
fonttools==4.28.5
frozenlist==1.2.0
h11==0.14.0
hdkey==0.0.0
hexbytes==0.2.2
httpcore==0.16.3
httpx==0.23.3
idna==3.3
iniconfig==2.0.0
ipfshttpclient==0.8.0a2
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itables==1.6.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
jsonalias==0.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keyboard==0.13.5
kiwisolver==1.3.2
lockfile==0.12.2
lru-dict==1.1.7
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mnemonic==0.20
MouseInfo==0.1.3
mpmath==1.2.1
msgpack==1.0.5
multiaddr==0.0.9
multidict==5.2.0
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
netaddr==0.8.0
nose==1.3.7
notebook==6.4.6
numpy==1.21.5
openai==0.26.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2023.4.29
platformdirs==3.5.1
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.20.3
ptyprocess==0.7.0
pure-eval==0.2.2
py-solc==3.2.0
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.17
pyfiglet==0.8.post1
PyGetWindow==0.0.9
Pygments==2.10.0
PyMsgBox==1.0.9
pynput==1.7.6
pyobjc==8.1
pyobjc-core==8.1
pyobjc-framework-Accessibility==8.1
pyobjc-framework-Accounts==8.1
pyobjc-framework-AddressBook==8.1
pyobjc-framework-AdServices==8.1
pyobjc-framework-AdSupport==8.1
pyobjc-framework-AppleScriptKit==8.1
pyobjc-framework-AppleScriptObjC==8.1
pyobjc-framework-ApplicationServices==8.1
pyobjc-framework-AppTrackingTransparency==8.1
pyobjc-framework-AudioVideoBridging==8.1
pyobjc-framework-AuthenticationServices==8.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.1
pyobjc-framework-Automator==8.1
pyobjc-framework-AVFoundation==8.1
pyobjc-framework-AVKit==8.1
pyobjc-framework-BusinessChat==8.1
pyobjc-framework-CalendarStore==8.1
pyobjc-framework-CallKit==8.1
pyobjc-framework-CFNetwork==8.1
pyobjc-framework-ClassKit==8.1
pyobjc-framework-CloudKit==8.1
pyobjc-framework-Cocoa==8.1
pyobjc-framework-Collaboration==8.1
pyobjc-framework-ColorSync==8.1
pyobjc-framework-Contacts==8.1
pyobjc-framework-ContactsUI==8.1
pyobjc-framework-CoreAudio==8.1
pyobjc-framework-CoreAudioKit==8.1
pyobjc-framework-CoreBluetooth==8.1
pyobjc-framework-CoreData==8.1
pyobjc-framework-CoreHaptics==8.1
pyobjc-framework-CoreLocation==8.1
pyobjc-framework-CoreMedia==8.1
pyobjc-framework-CoreMediaIO==8.1
pyobjc-framework-CoreMIDI==8.1
pyobjc-framework-CoreML==8.1
pyobjc-framework-CoreMotion==8.1
pyobjc-framework-CoreServices==8.1
pyobjc-framework-CoreSpotlight==8.1
pyobjc-framework-CoreText==8.1
pyobjc-framework-CoreWLAN==8.1
pyobjc-framework-CryptoTokenKit==8.1
pyobjc-framework-DataDetection==8.1
pyobjc-framework-DeviceCheck==8.1
pyobjc-framework-DictionaryServices==8.1
pyobjc-framework-DiscRecording==8.1
pyobjc-framework-DiscRecordingUI==8.1
pyobjc-framework-DiskArbitration==8.1
pyobjc-framework-DVDPlayback==8.1
pyobjc-framework-EventKit==8.1
pyobjc-framework-ExceptionHandling==8.1
pyobjc-framework-ExecutionPolicy==8.1
pyobjc-framework-ExternalAccessory==8.1
pyobjc-framework-FileProvider==8.1
pyobjc-framework-FileProviderUI==8.1
pyobjc-framework-FinderSync==8.1
pyobjc-framework-FSEvents==8.1
pyobjc-framework-GameCenter==8.1
pyobjc-framework-GameController==8.1
pyobjc-framework-GameKit==8.1
pyobjc-framework-GameplayKit==8.1
pyobjc-framework-ImageCaptureCore==8.1
pyobjc-framework-IMServicePlugIn==8.1
pyobjc-framework-InputMethodKit==8.1
pyobjc-framework-InstallerPlugins==8.1
pyobjc-framework-InstantMessage==8.1
pyobjc-framework-Intents==8.1
pyobjc-framework-IntentsUI==8.1
pyobjc-framework-IOSurface==8.1
pyobjc-framework-iTunesLibrary==8.1
pyobjc-framework-KernelManagement==8.1
pyobjc-framework-LatentSemanticMapping==8.1
pyobjc-framework-LaunchServices==8.1
pyobjc-framework-libdispatch==8.1
pyobjc-framework-LinkPresentation==8.1
pyobjc-framework-LocalAuthentication==8.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.1
pyobjc-framework-MailKit==8.1
pyobjc-framework-MapKit==8.1
pyobjc-framework-MediaAccessibility==8.1
pyobjc-framework-MediaLibrary==8.1
pyobjc-framework-MediaPlayer==8.1
pyobjc-framework-MediaToolbox==8.1
pyobjc-framework-Metal==8.1
pyobjc-framework-MetalKit==8.1
pyobjc-framework-MetalPerformanceShaders==8.1
pyobjc-framework-MetalPerformanceShadersGraph==8.1
pyobjc-framework-MetricKit==8.1
pyobjc-framework-MLCompute==8.1
pyobjc-framework-ModelIO==8.1
pyobjc-framework-MultipeerConnectivity==8.1
pyobjc-framework-NaturalLanguage==8.1
pyobjc-framework-NetFS==8.1
pyobjc-framework-Network==8.1
pyobjc-framework-NetworkExtension==8.1
pyobjc-framework-NotificationCenter==8.1
pyobjc-framework-OpenDirectory==8.1
pyobjc-framework-OSAKit==8.1
pyobjc-framework-OSLog==8.1
pyobjc-framework-PassKit==8.1
pyobjc-framework-PencilKit==8.1
pyobjc-framework-Photos==8.1
pyobjc-framework-PhotosUI==8.1
pyobjc-framework-PreferencePanes==8.1
pyobjc-framework-PushKit==8.1
pyobjc-framework-Quartz==8.1
pyobjc-framework-QuickLookThumbnailing==8.1
pyobjc-framework-ReplayKit==8.1
pyobjc-framework-SafariServices==8.1
pyobjc-framework-SceneKit==8.1
pyobjc-framework-ScreenSaver==8.1
pyobjc-framework-ScreenTime==8.1
pyobjc-framework-ScriptingBridge==8.1
pyobjc-framework-SearchKit==8.1
pyobjc-framework-Security==8.1
pyobjc-framework-SecurityFoundation==8.1
pyobjc-framework-SecurityInterface==8.1
pyobjc-framework-ServiceManagement==8.1
pyobjc-framework-ShazamKit==8.1
pyobjc-framework-Social==8.1
pyobjc-framework-SoundAnalysis==8.1
pyobjc-framework-Speech==8.1
pyobjc-framework-SpriteKit==8.1
pyobjc-framework-StoreKit==8.1
pyobjc-framework-SyncServices==8.1
pyobjc-framework-SystemConfiguration==8.1
pyobjc-framework-SystemExtensions==8.1
pyobjc-framework-UniformTypeIdentifiers==8.1
pyobjc-framework-UserNotifications==8.1
pyobjc-framework-UserNotificationsUI==8.1
pyobjc-framework-VideoSubscriberAccount==8.1
pyobjc-framework-VideoToolbox==8.1
pyobjc-framework-Virtualization==8.1
pyobjc-framework-Vision==8.1
pyobjc-framework-WebKit==8.1
pyparsing==3.0.6
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.0
PyScreeze==0.1.28
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytweening==1.0.4
pytz==2021.3
pywhatkit==5.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==1.11.3
regex==2023.5.5
requests==2.26.0
rfc3986==1.5.0
rlp==2.0.1
rubicon-objc==0.4.2
scikit-learn==1.2.0
scipy==1.7.3
seaborn==0.12.2
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post1
sniffio==1.3.1
solana==0.32.0
solc-select==0.2.1
solders==0.20.0
soupsieve==2.3.1
spark-parser==1.8.9
stack-data==0.1.4
sympy==1.9
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.1.0
tomli==2.0.0
tomlkit==0.11.8
toolz==0.11.2
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
trove-classifiers==2023.5.2
types-cachetools==4.2.10
typing_extensions==4.10.0
uniswap-universal-router-decoder==0.8.0
urllib3==1.26.7
varint==1.0.2
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7
wcwidth==0.2.5
web3==5.23.1
web3-input-decoder==0.1.8
webdriver-manager==3.4.2
webencodings==0.5.1
websockets==9.1
widgetsnbextension==3.5.2
wikipedia==1.4.0
xdis==6.0.3
yarl==1.7.2
zipp==3.15.0
